<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KOT Screenshoter </title>
</head>

<body>
  <nav>
    <div class="menu">
      <div class="burger">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="logo">
      <img src="/static/nerd.png" alt="nerd image">
      <a href="">
        <h1>KOT Screenshoter </h1>
      </a>
    </div>
    <div class="nav-btn">
      <a href="https://twitter.com/am_MauMau" target="_blank">Try It</a>
    </div>
  </nav>

  <header>
    <h1>
      Paste the link to the tweet 
    </h1>
    <form method="post">
      <label for="link">Link</label>
      <input type="text" id="link" name="link" placeholder="paste the link to the tweet here!" required="">
      <br> <br>
      <label for="Tweet or thread">Tweet or thread?</label>
      <select name="type" id="type">
        <option value="tweet">Tweet</option>
        <option value="thread" selected="">Thread</option>
      </select>
        <i class="fa fa-chevron-down"></i>
      <br> <br>

      <label for="Color">Color</label>
      <select name="color" id="color">
        <option value="light">Light mode</option>
        <option value="dark">Dark</option>
        <option value="colorful" selected="">Colorful</option>
      </select>
      <i class="fa fa-chevron-down"></i>

    <br> <br>
    <abbr title="download">
     <button class="download-btn" type="submit">
      <a href="/download">
        <i class="fa-solid fa-download">download</i>
      </a>
     </button>
    </abbr> 
    </form>



    <section class="how-to-use">
      <h1>How to Use.</h1>
      <p>Paste the link to the <b>tweet</b> you intend to screenshot here if you intend to screenshot a tweet, or paste the link to
        the <b>last tweet</b> in a thread if you intend to screenshot a <b>thread.</b>Ensure you paste the original link to the tweet for example:
      </p> 
      
    </section>

  </header>
  
  <footer>
    <a href="https://twitter.com/limo_39" target="_blank">
      <h1>
        <span><i> @limo_39 </i></span>
      </h1>
    </a>

  </footer>

</body>
</html>